@charset "UTF-8";

body{
    margin:0;
    padding:0;
    background-image: url("imagem/roxo 2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}


.header {
    display: flex;
    justify-content:space-between; 
    align-items: center;
}
.menu{
    display: flex;
    margin: 20px 55px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
    
}

.link{
    text-decoration: none;
    color:white;
    margin-left: 30px;
    list-style: none; 
      
}

.logo{
    
    display: flex;
    color: white;
    font-family: 'Comfortaa', cursive; ;
    margin: 20px 55px;
    font-size: 30px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;   
    margin-top: 100px;
    padding: 0 40px;
}
.conteudo {
    width: 370px;
    padding: 50px;
    font-family: 'Comfortaa', cursive; ;
    font-size: 20px;
    text-align: justify;
    border: 2px solid white;
    
}
.conteudo h3 {
    text-align: center ;
    font-size: 35px;
    padding: 30px 0;
        
}

@media screen and (max-width: 350px) {

.menu{
    flex: none; 
    flex-direction: column;
    align-items: center;
    
         
}
.logo {
    font-size: 30px;
    flex: none;
    margin: 10px auto;
}
.conteudo{
    text-align: center;
}
}

@media screen and (max-width: 700px) {

    .header{
            flex-wrap: wrap;
            justify-content: center;
                           
            
        }
    
    .menu{
         
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
        margin: auto 20px;
             
    }
    .link{
        
        margin-left: 10px;
        margin: 0 5px;
          
    }
    .container{
        margin-top: 50px;
        padding: 0 20px;
    
    }
    .conteudo {
        font-size: 15px;
        text-align: left;
        padding: 20px;
    }
    .conteudo h3 {
    
        font-size: 22px;
    }
    }